footer {
   
    height: 70px;
    width: 100%;
    background-color: black;
display: flex;
align-items: center;
justify-content: space-around;

margin-top: 20px;

    
}

.footer-org{
    color: whitesmoke;
    font-size: 20px;
    font-style: oblique;
    font-family: monospace;
}

.footer-icons{

.fa-brands{
    width: 25px;
    height: 25px;
    color:white;
    
}

    
}